<section class="page-head">
	<h1 class="page-title">Events</h1>
	<div class="pull-right search-and-profile">
		<div class="search-bar">
			<button><i class="fa fa-search" aria-hidden="true"></i></button>
			<input type="text" name="" placeholder="Search">
		</div>
		<!-- THIS WILL BE DEFAULT PROFILE PICTURE ==== NO PROFILE PICTURE -->
		<!-- <div class="profile-q-settings default">
			<div class="btn-group" dropdown>
			  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
			   T. Forwardov
			  </button>
			  <ul *dropdownMenu class="dropdown-menu" role="menu">
			    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
			    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
			    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
			  </ul>
			</div>
		</div> -->	

		<!-- THIS IS THE PROFILE WICK SETTINGS WITH PICURE -->
		<div class="profile-q-settings">
			<div class="btn-group" dropdown>				
			  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
			  	<img src="assets/profile-pic-example.jpg">
			    T. Forwardov<span class="caret"></span>
			  </button>
			  <ul *dropdownMenu class="dropdown-menu" role="menu">
			    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
			    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
			    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
			  </ul>
			</div>
		</div>
	</div>
</section>
<section class="page-inner">
	<ul class="sort-by">
		<li><span>SORT BY:</span></li>
		<li><button class="active">Date</button></li>
		<li><button>Location</button></li>
		<li><button>Distance</button></li>
		<li>
			<div class="btn-group" dropdown>
			  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">T. Forwardov</button>
			  <ul *dropdownMenu class="dropdown-menu" role="menu">
			    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
			    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
			    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
			  </ul>
			</div>
		</li>
	</ul>
	<ul class="event-list">
		<li [routerLink]="['/portal', {outlets: {'portal-wrap': ['events-details']}}]">
			<div class="col-lg-4 event-imgage">
				<img src="assets/event-list-1.jpg">
			</div>
			<div class="col-lg-8 event-desc">
				<span>12/08/2018</span>
				<h2>Dirty Thursday: Prince Anniversary</h2>
				<span class="event-where"><i class="fa fa-globe" aria-hidden="true"></i>Damyns Hall Aerodrome </span>
				<p class="event-hours"><i class="fa fa-clock-o" aria-hidden="true"></i>Start: <span>04:00 pm</span> Finish: <span>08:00 pm</span></p>
				<p class="event-short-desc">When May hits London, there really is no excuse not to get outside and start soaking up all that the city has to offer</p>
				<span class="event-location"><i class="fa fa-map-marker" aria-hidden="true"></i>Aveley Rd, Upminster, RM14 2TN </span>
			</div>
		</li>
		<li [routerLink]="['/portal', {outlets: {'portal-wrap': ['events-details']}}]">
			<div class="col-lg-4 event-imgage">
				<img src="assets/event-list-2.jpg">
			</div>
			<div class="col-lg-8 event-desc">
				<span>12/08/2018</span>
				<h2>Dirty Thursday: Prince Anniversary</h2>
				<span class="event-where"><i class="fa fa-globe" aria-hidden="true"></i>Damyns Hall Aerodrome </span>
				<p class="event-hours"><i class="fa fa-clock-o" aria-hidden="true"></i>Start: <span>04:00 pm</span> Finish: <span>08:00 pm</span></p>
				<p class="event-short-desc">When May hits London, there really is no excuse not to get outside and start soaking up all that the city has to offer</p>
				<span class="event-location"><i class="fa fa-map-marker" aria-hidden="true"></i>Aveley Rd, Upminster, RM14 2TN </span>
			</div>
		</li>
		<li [routerLink]="['/portal', {outlets: {'portal-wrap': ['events-details']}}]">
			<div class="col-lg-4 event-imgage">
				<img src="assets/event-list-2.jpg">
			</div>
			<div class="col-lg-8 event-desc">
				<span>12/08/2018</span>
				<h2>Dirty Thursday: Prince Anniversary</h2>
				<span class="event-where"><i class="fa fa-globe" aria-hidden="true"></i>Damyns Hall Aerodrome </span>
				<p class="event-hours"><i class="fa fa-clock-o" aria-hidden="true"></i>Start: <span>04:00 pm</span> Finish: <span>08:00 pm</span></p>
				<p class="event-short-desc">When May hits London, there really is no excuse not to get outside and start soaking up all that the city has to offer</p>
				<span class="event-location"><i class="fa fa-map-marker" aria-hidden="true"></i>Aveley Rd, Upminster, RM14 2TN </span>
			</div>
		</li>
	</ul>
</section>
<section class="page-pagination">
	<pagination [boundaryLinks]="false" [totalItems]="totalItems" [(ngModel)]="currentPage" class="pagination-sm"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>        
</section>
