<section class="login-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-xs-12 center-block form-holder">		
				<img src="assets/logo-big-white.png">
				<form class="login-form">
					<fieldset>
						<label for="username"><i class="fa fa-user-o" aria-hidden="true"></i></label>
						<input type="text" name="" id="username">
					</fieldset>
					<fieldset>
						<label for="password"><i class="fa fa-lock" aria-hidden="true"></i></label>
						<input type="password" name="" id="password">
						<button class="hint-but"><i class="fa fa-eye" aria-hidden="true"></i></button>
					</fieldset>
					<fieldset>
						<button routerLink="../portal" type="button" class="btn btn-default gradient large">SIGN IN</button>	
					</fieldset>
				</form>
				<div>
					<a href="" class="forgot-pass">Forgot Password?</a>
					<a routerLink="../register" class="sign-up-link">Sign Up</a>
				</div>
			</div>
		</div>
	</div>	
</section>







