<section class="portal-home">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-xs-12 left-navigation-pane">
        <img class="logo" src="assets/logo.png">
        <nav class="navbar navbar-toggleable-md">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label=" ">
            <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
              <ul class="navbar-nav type1">
                <li class="nav-item active">
                  <a [routerLink]="['/portal', {outlets: {'portal-wrap': ['events']}}]"><i class="fa fa-calendar" aria-hidden="true"></i>Events</a>
                </li>
                <li class="nav-item">
                  <a href="#"><i class="fa fa-globe" aria-hidden="true"></i>Venue</a>
                </li>
                <li class="nav-item">
                  <a href="#"><i class="fa fa-microphone" aria-hidden="true"></i>Musician</a>
                </li>
                <li class="nav-item">
                  <a href="#"><i class="fa fa-user-o" aria-hidden="true"></i>Profile</a>
                </li>             
              </ul>
              <ul class="navbar-nav type2">
                <li class="nav-item">
                  <a href="">Contact us</a>
                </li>
                <li class="nav-item">
                  <a href="#">About us</a>
                </li>  
                <li class="nav-item">
                  <a href="#">Privacy policy</a>
                </li>    
                <li>
                  <a [routerLink]="['/portal', {outlets: {'portal-wrap': ['elements']}}]">Terms and conditions</a>
                </li>      
              </ul>
            </div>
          </nav>
      </div>
      <div class="col-lg-9 col-xs-12 col-lg-push-1">

        <router-outlet name="portal-wrap">
    
        </router-outlet>

      </div>
    </div>
  </div>
</section>






