<div class="container-fluid">
	<div class="row">

		<!-- ===========================  Buttons ========================= -->
		<div class="col-lg-12">
			<h3>Buttons</h3>
		</div>
		<div class="col-lg-3">
			<button type="button" class="btn btn-default gradient large">LARGE BUTTON</button>	

			<br><br>

			<button type="button" class="btn btn-default gradient">DEFAULT BUTTON</button>	

			<br><br>

			<button type="button" class="btn btn-default gradient small">SMALL BUTTON</button>	
		</div>

		<br><br>
		<div class="col-lg-3">
			<button type="button" class="btn btn-default gradient black large"><span>LARGE BUTTON</span></button>	

			<br><br>

			<button type="button" class="btn btn-default gradient black"><span>DEFAULT BUTTON</span></button>	

			<br><br>

			<button type="button" class="btn btn-default gradient black small"><span>SMALL BUTTON</span></button>	
		</div>

		<br><br>
		<div class="col-lg-3">
			<button type="button" class="btn btn-default black large">LARGE BUTTON</button>	

			<br><br>

			<button type="button" class="btn btn-default black">DEFAULT BUTTON</button>	

			<br><br>

			<button type="button" class="btn btn-default black small">SMALL BUTTON</button>	
		</div>

		<br><br>
		<div class="col-lg-3">
			<button type="button" class="btn btn-default large">LARGE BUTTON</button>	

			<br><br>

			<button type="button" class="btn btn-default ">DEFAULT BUTTON</button>	

			<br><br>

			<button type="button" class="btn btn-default small">SMALL BUTTON</button>	
		</div>
		<!-- ===========EDN OF BUTTONS =============================== -->

		<!-- ===========================  COLORS ========================= -->
		
		<div class="col-lg-6">
			<div class="col-lg-12">
			<br><br>
				<h3>Colors</h3>
			</div>
			<div class="color-example pink-go"></div>
			<div class="color-example blue-go"></div>			
			<div class="color-example white-go"></div>
			<div class="color-example black-go"></div>
			<div class="color-example gray-go"></div>	
		</div>
		<!-- ============END OF COLLORS ============================ -->

		<!-- =========================== CHECKBOXES AND RADIO ========================== -->
		<div class="col-lg-6">		
			<div class="col-lg-12">
			<br><br>
				<h3>Checkbos and radio</h3>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="custom_checkbox">
	                    <input type="checkbox" id="checlbox1" name="check"/>
	                    <label for="checlbox1"></label>
	                    <span>No one be fillin’ my box!</span>
	                </div>
	                <br>
	                <div class="custom_checkbox disabled">
	                    <input type="checkbox" id="checlbox2" name="check" disabled="" />
	                    <label for="checlbox2"></label>
	                    <span>Aaand I’m disabled</span>
	                </div>
	                <br>
	                <div class="custom_checkbox">
	                    <input type="checkbox" id="checlbox3" name="check" checked="" />
	                    <label for="checlbox3"></label>
	                    <span>Oy! Me box is filled!</span>
	                </div>
	                <br>
	                <div class="custom_checkbox disabled">
	                    <input type="checkbox" id="checlbox4" name="check" checked="" disabled="" />
	                    <label for="checlbox4"></label>
	                    <span>Aaand I’m disabled</span>
	                </div>
				</div>
				<div class="col-lg-6">
					<div class="custom_checkbox">
	                    <input type="radio" id="radio1" name="check"/>
	                    <label for="radio1"></label>
	                    <span>I’m so empty inside</span>
	                </div>
	                <br>
	                <div class="custom_checkbox disabled">
	                    <input type="radio" id="radio2" name="check" disabled="" />
	                    <label for="radio2"></label>
	                    <span>At least you got picked</span>
	                </div>
	                <br>
	                <div class="custom_checkbox">
	                    <input type="radio" id="radio3" name="check" checked=""/>
	                    <label for="radio3"></label>
	                    <span>Touched me button, eh?</span>
	                </div>
	                <br>
	                <div class="custom_checkbox disabled">
	                    <input type="radio" id="radio4" name="check1" checked="" disabled="" />
	                    <label for="radio4"></label>
	                    <span>Selected, but disabled</span>
	                </div>
				</div>
			</div>
		</div>
		<!-- ====================END OF CHECKBOXES AND RADIO =========================== -->

		<!-- ===============PAGINATION ===================== -->
		<div class="col-lg-6">
			<div class="col-lg-12">
			<br><br>
				<h3>Pagination</h3>
			</div>
				<pagination [boundaryLinks]="false" [totalItems]="totalItems" [(ngModel)]="currentPage" class="pagination-sm"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>            
            <!-- Uncoment line below if you need to see how the pagination works -->
            <!-- <pre class="card card-block card-header">The selected page no: {{currentPage}}/{{smallnumPages}}</pre> --> 
		</div>
		<!-- ===============END OF PAGINATION ================= -->

		<!-- FONTS -->
		<div class="col-lg-6">
			<div class="col-lg-12">
			<br><br>
				<h3>Fonts</h3>
			</div>
			<h1>H1 URW Geometric Bold</h1>
			<h2>H2 URW Geometric Bold</h2>
			<h3 class="light">H3 URW Geometric Light</h3>
			<h3>H3 Regular</h3>
			<h3 class="bold">H3 BOLD</h3>
			<h4 class="light">H4 URW Geometric Light</h4>
			<h4>H4 Regular</h4>
			<h4 class="bold">H4 BOLD</h4>
			<h5 class="light">H5 URW Geometric Light</h5>
			<h5>H5 Regular</h5>			
			<h5 class="medium">H5 medium</h5>
			<h5 class="bold">H5 BOLD</h5>
		</div>
		<!-- END OF FONTS -->

		<!-- TEXTFIELD -->
		<div class="col-lg-6">
			<div class="col-lg-12">
			<br><br>
				<h3>Textfield Interaction</h3>
			</div>
			<div class="input_with_label">
				<label for="input1">Defaul</label>
				<input type="text" id="input1" name="" placeholder="Default with hint">
			</div>
			<div class="input_with_label">
				<label for="input2">Completed</label>
				<input type="text" id="input2" class="completed" name="" placeholder="Default with hint">
			</div>
			<div class="input_with_label">
				<label for="input3">Warning</label>
				<input type="text" id="input3" class="warning" name="" placeholder="Default with hint">
			</div>
			<div class="input_with_label">
				<label for="input4">Error</label>
				<input type="text" id="input4" class="error" name="" placeholder="Default with hint">
			</div>
			<div class="input_with_label">
				<label for="input5">Success</label>
				<input type="text" id="input5" class="success" name="" placeholder="Default with hint">
			</div>
		</div>
		<!-- END OF TEXTFIELD -->


		<div class="col-lg-6">
			<!-- DROPDOWNS -->
			<div class="col-lg-12">
			<br><br>
				<h3>Dropdowns</h3>
			</div>
			<div class="btn-group" dropdown>
			  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
			    Button dropdown <span class="caret"></span>
			  </button>
			  <ul *dropdownMenu class="dropdown-menu" role="menu">
			    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
			    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
			    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
			  </ul>
			</div>
			<!-- END OF DROPDOWNS -->


			<!-- BREADCRUMBS -->
			<div class="col-lg-12">
			<br><br>
				<h3>Breadcrumbs</h3>
			</div>
			<div>
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li><a href="#">Library</a></li>
				  <li class="active">Data</li>
				</ol>
			</div>
			<div>
				<ol class="breadcrumb type2">
				  <li><a href="#">Home</a></li>
				  <li><a href="#">Library</a></li>
				  <li class="active">Data</li>
				</ol>
			</div>		
			<!-- END OF BREADCRUMBS -->
		</div>

		<!-- TABS -->
		<div class="col-lg-6">
			<div class="col-lg-12">
			<br><br>
				<h3>TABS</h3>
			</div>
			<div>
				<tabset>
					<tab heading="Static content">Static content 1</tab>
					<tab heading="Static Title 2">Static content 2</tab>
					<tab heading="Static Title 3" removable="true">Static content 3</tab>
					<tab>
				      <template tabHeading>
				        <div class="btn-group" dropdown>
						  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
						    Button dropdown <span class="caret"></span>
						  </button>
						  <ul *dropdownMenu class="dropdown-menu" role="menu">
						    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
						    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
						    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
						  </ul>
						</div>
				      </template>
				      I've got an HTML heading, and a select callback. Pretty cool!
				    </tab>
				</tabset>
			</div>
			<div>
				<tabset class="type2">
					<tab heading="Static content">Static content 1</tab>
					<tab heading="Static Title 2">Static content 2</tab>
				</tabset>
			</div>
		</div>
		<!-- END OF TABS -->

		<!-- ALERTS -->
		<div class="col-lg-6">
			<div class="col-lg-12">
			<br><br>
				<h3>ALERTS</h3>
			</div>
			<alert type="primary" dismissible="true">
				<p><strong>Primary!</strong> This alert needs your attention, but it's not super important.</p>
			</alert>			
			<alert type="info" dismissible="true">
				<p><strong>Info!</strong> This alert needs your attention, but it's not super important.</p>
			</alert>
			<alert type="success" dismissible="true">
				<p><strong>Success!</strong> You successfully read this important alert message.</p>
			</alert>
			<alert type="warning" dismissible="true">
				<p><strong>Warning!</strong> Better check yourself, you're not looking too good.</p>
			</alert>
			<alert type="danger" dismissible="true">
				<p><strong>Error!</strong> Change a few things up and try submitting again.</p>
			</alert>
		</div>
		<!-- END OF ALERTS -->


		<!-- LABELS -->
		<div class="col-lg-6">
			<div class="col-lg-12">
			<br><br>
				<h3>Labels</h3>
			</div>			
			<div>
				<span class="label label-default">Default</span>
				<span class="label label-primary">Primary</span>
				<span class="label label-success">Success</span>
				<span class="label label-info">Info</span>
				<span class="label label-warning">Warning</span>
				<span class="label label-alert">Alert</span>
				<span class="label label-danger">Danger</span>
			</div>
			<div>
				<h1 class="bold">Example heading <span class="label label-default">New</span></h1>
			</div>
			<div>
				<h2 class="bold">Example heading <span class="label label-default">New</span></h2>
			</div>
			<div>
				<h3>Example heading <span class="label label-default">New</span></h3>
			</div>
			<div>
				<h4>Example heading <span class="label label-default">New</span></h4>
			</div>
			<div>
				<h5>Example heading <span class="label label-default">New</span></h5>
			</div>
		</div>
		<!-- END OF LABELS -->

		<!-- TABLES -->
		<div class="col-lg-4">
			<div class="col-lg-12">
			<br><br>
				<h3>Tables</h3>
			</div>	
			<div class="table-wrap">
				<h3 class="table-title">Shiver me timbers!</h3>
				<table>
					<thead class="text">
						<tr>
							<td colspan="4">
								<p>My name is Captain Kidd, as I sailed, as I sailed. Oh my name is Captain Kidd as I sailed. My name is Captain Kidd and God's laws I did forbid, and most wickedly I did as I sailed.</p>
							</td>
						</tr>
					</thead>
					<thead>
						<tr>
							<td>#</td>
							<td>Ship Name</td>
							<td>Captain</td>
							<td>Status</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Walrus</td>
							<td>James Flint</td>
							<td>Unknown</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Royal Fortune</td>
							<td>Black Bart </td>
							<td>Destroyed</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Ranger</td>
							<td>Charles Vane</td>
							<td>Captured</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Walrus</td>
							<td>James Flint</td>
							<td>Unknown</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Royal Fortune</td>
							<td>Black Bart </td>
							<td>Destroyed</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="table-wrap">
				<h3 class="table-title">Shiver me timbers!</h3>
				<table>
					<thead>
						<tr>
							<td>#</td>
							<td>Ship Name</td>
							<td>Captain</td>
							<td>Status</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Walrus</td>
							<td>James Flint</td>
							<td>Unknown</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Royal Fortune</td>
							<td>Black Bart </td>
							<td>Destroyed</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Ranger</td>
							<td>Charles Vane</td>
							<td>Captured</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Walrus</td>
							<td>James Flint</td>
							<td>Unknown</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Royal Fortune</td>
							<td>Black Bart </td>
							<td>Destroyed</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END OF TABLES -->
		<div class="col-lg-12"></div>

		<div class="col-lg-12"></div>
	</div>
</div>
