/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');

/*COLORS*/

$pink-go: #d014d7;
$blue-go: #4433db;
$white-go: #FFFFFF;
$black-go: #13131f;
$gray-go: #1d2029;
$yello-go: #ffc000;
$red-go: #620b0b;
$orange-go: #de8024;
$green-go: #218a23;

/*END COLORS*/

/*CUSTON CHECKBOX*/

.custom_checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}
.custom_checkbox > [type="radio"]:not(:checked),
.custom_checkbox > [type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
.custom_checkbox > [type="radio"]:not(:checked) + label,
.custom_checkbox > [type="radio"]:checked + label {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right:20px;
}
/*.custom_checkbox > [type="radio"]:not(:checked) + label:before,
.custom_checkbox > [type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
}*/
.custom_checkbox > [type="radio"]:not(:checked) + label:after {
  content: '\f10c';
  font-family: FontAwesome;
  font-size: 2rem;
  color: $white-go;
  transition: all .2s;
}
.custom_checkbox > [type="radio"]:checked + label:after {
  content: '\f192';
  font-family: FontAwesome;
  font-size: 2rem;
  color: $pink-go;
  transition: all .2s;
}
.custom_checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.2rem;
}
.custom_checkbox > [type="checkbox"]:not(:checked),
.custom_checkbox > [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.custom_checkbox > [type="checkbox"]:not(:checked) + label,
.custom_checkbox > [type="checkbox"]:checked + label {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right:20px;
}
/*.custom_checkbox > [type="checkbox"]:not(:checked) + label:before,
.custom_checkbox > [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
}*/
.custom_checkbox > [type="checkbox"]:not(:checked) + label:after {
  content: '';
  font-family: FontAwesome;
  font-size: 2rem;
  color: $white-go;
  transition: all .2s;
}
.custom_checkbox > [type="checkbox"]:checked + label:after {
  content: '';
  font-family: FontAwesome;
  font-size: 2rem;
  color: $pink-go;
  transition: all .2s;
}
.custom_checkbox.disabled{
	label{
		opacity: 0.5;
		margin-right: 20px
	}
	span{
		line-height: 2rem;
		display: block;
		float: right;
		margin-top:6px;
		opacity: 0.5;
	}
}
.custom_checkbox{
	span{
		line-height: 2rem;
		display: block;
		float: right;
		margin-top:6px;
	}
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/*END CUSTOM CHECKBOX*/

html { font-size: 55% !important; }

body {
	font-family: 'Montserrat', sans-serif;
	background: #000000;
	color: #FFFFFF;
  font-size: 1.4rem;
}
*{
	box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


@mixin centeredabsolute{
  position: absolute;
  top:50%;
  left: 50%;
  -webkit-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

@mixin centeredabsolute-vertical{
  position: absolute;
  top:50%;
  left:0;
  -webkit-transform:translate(0,-50%);
  -ms-transform:translate(0,-50%);
  transform:translate(0,-50%);
}
@mixin centeredabsolute-horizontal{
  position: absolute;
  top:0;
  left:50%;
  -webkit-transform:translate(-50%,0);
  -ms-transform:translate(-50%,0);
  transform:translate(-50%,0);
}

@mixin ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul{
  list-style: none;
  padding:0;
  margin:0;
}
.btn-default{
  width: auto;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding:0 3rem;
  height: 3.6rem;
  border-radius:20px;
  background:#ffffff;
  text-align:center;     
  line-height:3.6rem;
  font-size: 1.2rem;
  font-weight: 200;
  cursor:pointer;
  &:focus:active{
    outline:none;
  }
  &:focus{
    outline:none;
  }
  &.gradient {
    height: 3.6rem;
    line-height: 3.6rem;
    border-radius:20px;
    border:medium none;
    color:#FFFFFF;
    font-weight:400;
    position: relative;
    background-image: linear-gradient(
        175deg,
        #3037db, 
        #9b20db, 
        #cc15db
      );  
  	&.black{
		border:medium none;
		position: relative;
    max-width: 100%;
    line-height: 3rem;
		background-image: linear-gradient(
		175deg,
		#3037db, 
		#9b20db, 
		#cc15db
		);   
		>span{
        position:relative;
        display: block;
        width: 100%;
        z-index: 10;
        color:transparent;
        -webkit-background-clip: text;
        background-clip: text;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-image: linear-gradient(
          175deg,
          #3037db, 
          #9b20db, 
          #cc15db
        ); 
      }
      &:after{      
        content:"";
        position: absolute;
        top:2px;
        left:2px;
        z-index: 2;
        width:calc(100% - 4px);
        height:calc(100% - 4px);
        background:#000000;
        border-radius:25px;
      }
  	}
  } 
  &.black{
    background:#000000;
    color:#FFFFFF;
    border:solid 2px #FFFFFF;    
    line-height: 3rem;
    &:focus:active{
      outline:none;
    }
    &.large{
    	line-height:3.8rem;
    }
    &.small{
    	line-height: 2rem;
    }

  }  
  &.large{
    height:5rem;
    border-radius:25px;
    line-height:3.8rem;
    font-size:1.6rem;
  	padding:0 40px;
    &:focus:active{
      outline:none;
    }
  }
  &.small{
    height:2.4rem;
    border-radius:25px;
    line-height:2rem;
    font-size:1.2rem;    
  	line-height:2rem;
    padding:0 2rem;
    &:focus:active{
      outline:none;
    }
  }
  
}


.color-example{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius:5px;
	margin-left:5px;
	&.pink-go{
		background: $pink-go;
	}
	&.blue-go{
		background: $blue-go;
	}
	&.white-go{
		background: $white-go;
	}
	&.black-go{
		background: $black-go;
		border:solid 1px $white-go;
	}
	&.gray-go{
		background: $gray-go;
	}
}

.pagination{
  .pagination-page a{
    background: none transparent;
    border: medium none;
    color: $white-go;
    &:hover{
      background:none transparent;
    }
  }
  .pagination-page.active a{
    background: none transparent;
    color: $pink-go;
  }
  .pagination-next,
  .pagination-prev{ 
    a{      
      background: $gray-go;
      border:medium none;
      color: $pink-go;
    }
    &.disabled {
      a{      
        background: $gray-go;
        border:medium none;
        color: $pink-go;
      }
    }
  }
  li a{
    font-size: 1.6rem !important;    
    cursor: pointer;
    padding:.5rem .75rem !important;
  }
}

/*FONTS*/

h1{
  font-size: 2.8rem;
  font-weight: 700;
}
h2{
  font-size: 2.2rem;
  font-weight: 700;
}
h3{
  font-size: 1.8rem;
  font-weight: 400;
  &.light{
    font-weight: 200;
  }
  &.bold{
    font-weight: 700;
  }
}
h4{
  font-size: 1.4rem;
  font-weight: 400;
  &.light{
    font-weight: 200;
  }
  &.bold{
    font-weight: 700;
  }
}
h5{
  font-size: 1rem;
  font-weight: 400;
  &.light{
    font-weight: 200;
  }
  &.medium{
    font-weight: 500;
  }
  &.bold{
    font-weight: 700;
  }
}
/*END FONTS*/

/*INPUT*/
input{
  color:$white-go;
  background: none transparent;
  border:medium none;
  width:100%;
  border-bottom: solid 1px #7a7a7e;
  font-size: 1.4rem;
  &.completed{
    border-bottom: solid 1px $blue-go;
  }
  &.warning{
    border-bottom: solid 1px $yello-go;
  }
  &.error{
    border-bottom: solid 1px $red-go;
  }
  &.success{
    border-bottom: solid 1px $pink-go;
  }

}
input:focus{
  border-bottom: solid 1px $white-go;
  outline: none;
}
.input_with_label{
  label{
    width: 30%;
    display: inline-block;
  }
  input{
    display: inline-block;
    width: 69%;
  }
}
/*END OF INPUT*/

/*DROPDOWNS*/
.btn{
  font-size: 1.4rem;
}
.btn-group{
  position: relative;
  display: inline-block;
  &.open{
    display: inline-block !important;
    .btn-primary{
      &:focus{
        background:none transparent;
      }
    }
  }
   .btn-primary{
      color:$white-go;
      background: none transparent;
      border:medium none;
      width:100%;
      border-bottom: solid 1px $white-go;
      font-size: 1.4rem;
      border-radius:  0;
      &:focus{
          outline-style:none;
          box-shadow:none;
          background: none transparent;
      }
      &[aria-expanded="true"]{
        background: none transparent;
        border:medium none;
        width: auto;
        clear: both;
      }
   } 
   .dropdown-menu{
      font-size:1.4rem;
      border:medium none; 
      a:hover{
        background:$blue-go;
        color: $white-go;
      }
   }
}
/*END OF DROPDOWNS*/

/*BREADCRUMBS*/
.breadcrumb{
  font-size: 1.2rem;  
  background: none transparent;
  li{
    display: inline-block;
    a{
      color: #5a5a63;
      &:hover{
        color:#FFFFFF;
      }
    }
    &:after{
      content:"/";
      display: inline-block;
      margin:0 .5rem;
      color: #5a5a63;
    }
    &:last-child:after{
      content:"";
    }
  }
  &.type2{
    li{
      &:after{
        content:">";
      }
      &:last-child:after{
        content:"";
      }
    }
  }
}
/*END OF BREADCRUMBS*/

/*TABS*/
.tab-container{
  .nav-tabs{
    background: none transparent;
    border:medium none;
    margin-bottom: 3rem;
    a{
      background: none transparent;
      border:medium none;
      color: $white-go;
      border-bottom: solid 1px $white-go;
      font-size: 1.4rem;
      margin:0;
      padding:0 1.4rem;
      line-height: 3rem;
      &.active{
        background: none transparent;        
        color: $white-go;
        border:solid 1px $white-go;        
        font-size: 1.4rem;
        border-bottom:medium none;
        border-radius:.5rem .5rem 0 0;
        &:hover{
          border:solid 1px $white-go;
          border-bottom:medium none;
          border-radius:.5 .5rem 0 0;
          background: none transparent;
        }
        &:focus{          
          background: none transparent;
          color: $white-go;
        }
      }
      &:hover{
        border:medium none;
        color: $blue-go;
        border-bottom: solid 1px $white-go;
        font-size: 1.4rem;
        margin:0;
        background: none transparent;
        transform: none;
      }
    }
  }
  .btn-group{
    margin-top:-.3rem;
    .btn{
      border:medium none;
      padding:0;
      margin:0;
      &:hover{
        color: $blue-go;
      }      
    }
    .dropdown-menu a{
      color: $black-go;
    }
  }
}
.tab-container.type2{
  .nav-tabs{
    a{
      border:medium none;
      font-size: 1.4rem;
      line-height: 4rem;
      padding:0 4rem;
      border-bottom: solid 2px $gray-go;
      &.active{
        border:medium none;        
        border-bottom: solid 2px $pink-go;
        &:hover{
          border:medium none;          
          border-bottom: solid 2px $pink-go;
        }
      }
      &:hover{
        border:medium none;        
        border-bottom: solid 2px $pink-go;
      }

    }
  }
}
/*END OF TABS*/

/*ALERTS*/
.alert {
  border:medium none;
  padding-top:1.2rem;
  padding-bottom:1.2rem;
  p{
    margin-bottom: 0;
    font-size: 1.2rem;
  }
  .close{
    top:-1rem;
    text-shadow: none;
  }
  &.alert-primary{
    background: rgba(68,51,219,.2);
    color: $blue-go;
    .close{
      color: $blue-go;
    }
  }
  &.alert-info{
    background: rgba(33,138,35,.2);
    color: #218a23;
    .close{
      color: #218a23;
    }
  }
  &.alert-success{
    background: rgba(288,20,215,.2);
    color: $pink-go;
    .close{
      color: $pink-go;
    }
  }
  &.alert-warning{
    background: rgba(255,192,0,.2);
    color: #ffc000;
    .close{
      color:#ffc000;
    }
  }
  &.alert-danger{
    background: rgba(98,11,11,.2);
    color: $red-go;
    .close{
      color: $red-go;
    }
  }
}
/*END OF ALERTS*/

/*LABELS*/
.label{
  font-size: 1.2rem;
  padding:0 1.2rem;
  line-height: 2.6rem;
  border-radius:1.3rem;
  margin:0 .5rem;
  &.label-default{
    background: #5a5a63;
  }
  &.label-primary{
    background: $blue-go;
  }
  &.label-success{
    background: $pink-go;
  }
  &.label-info{
    background: $green-go;
  }
  &.label-warning{
    background: $orange-go;
  }
  &.label-alert{
    background: $yello-go;
  }
  &.label-danger{
    background: $red-go;
  }
}
h1 .label{
  line-height: 3rem;
  font-size: 1.8rem;
  display: inline-block;
  vertical-align: top;
  background: $blue-go !important;
}
h2 .label{
  line-height: 2.4rem;
  font-size: 1.6rem;
  display: inline-block;
  vertical-align: top;
  background: $blue-go !important;
}
h3 .label{
  line-height: 2rem;
  font-size: 1.4rem;
  display: inline-block;
  vertical-align: top;
  background: $blue-go !important;
}
h4 .label{
  line-height: 1.6rem;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: top;
  background: $blue-go !important;
}
h5 .label{
  line-height: 1.1rem;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  background: $blue-go !important;
}
/*END OF LABELS*/

/*TABLES*/
.table-wrap{
  margin-bottom: 2rem;
  .table-title{
    line-height: 4rem;
    margin:0;
    background: $white-go;
    color: #000000;
    padding-left: 2rem; 
    border-radius: .5rem .5rem 0 0;
  }
  table{
    width: 100%;
    padding:1.4rem;
    border-collapse: collapse;
    border-radius: 0 0 .5rem .5rem;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px $white-go; /* this draws the table border  */ 
    p{
      padding:1rem 0;
      margin:0;
      font-size: 1.2rem;
    }
    td{
      padding:.8rem 2rem;
      font-size: 1.2rem;
    }
    thead{
      td{
        border-top:solid 1px $gray-go;
        border-bottom: solid 1px $gray-go;
        padding:1.2rem 2rem;
        font-size: 1.4rem;
        font-weight: 700;
      }
      &.text td{
        padding:.4rem 2rem;
        border:medium none;
      }
    }
    tbody {
      tr:first-child td{
        padding-top:2rem;
      }
      tr:last-child td{
        padding-bottom: 2rem;
      }
    }
  }
}
/*EDN OF TABLES*/

/*SOCIAL BADGES*/
label.social{
  cursor: pointer;
  padding:0 1.4rem;
  position: relative;
  line-height:  2.4rem;
  border-radius:  .5rem;
  span{
    position:absolute; 
    top:0;
    left:100%;
    padding:0 1rem 0 1.5rem;
    border-radius: .5rem;
    &:after{
      content:"";
      position:absolute ;
      top:0;
      left:-.5rem;
      width:1rem;
      height: .9rem;
      background: $black-go ;
      border-radius:  0 0 .5rem .5rem;
    }
    &:before{
      content:"";
      position:absolute ;
      bottom:0;
      left:-.5rem;
      width:1rem;
      height: .9rem;
      background: $black-go ;
      border-radius: .5rem .5rem 0 0;
    }
  }
  &.facebbok-like{
    background:  #3b5998;
    span{
      background:  #3b5998;
    }
  }
  &.tweets{
    background:  #00aced;
    span{
      background:  #00aced;
    }
  }
}
/*END SOCIAL BADGES*/

/*OTHER ELEMENTS*/
.img-holder{
  overflow: hidden;
  height: 5rem;
  width:  5rem;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 10;
  >img{
    border:medium none;
    max-width: 100%;
    max-height: 100%;
  }
  &.img-height{
    img{
      max-width: 100%;
      max-height: none;
      width: 100%;
      @include centeredabsolute-vertical;
    }
  }
  &.img-width{
    img{
      max-height: 100%;
      max-width: none;
      height: 100%;
      @include centeredabsolute-horizontal;
    }
  }
}
.hosted-by{
  >div{
    display: inline-block;
    vertical-align: middle;
    span{
      opacity: .5;  
      &.club-name{
        color: $pink-go;
        opacity: 1;
      }
    }
  }
  .img-holder{
    margin-left: 1rem;
    border-radius: 50%;
  }
  span{
    display: block;
  }
}
/*END OTHER ELEMENTS*/


/*SEARCH BAR*/
.search-bar{
  position: relative;
  display:inline-block;
  input{
    border:medium none;
    background: rgba(208,20,215,.2);
    line-height: 3rem;
    padding:0 2rem 0 3rem;
  }
  button{
    position: absolute;
    top:0;
    left: 0rem;
    background: none transparent;
    border:medium none;
    outline:none;
    color: #acacac;
    line-height: 3rem;
    padding:0 1rem;
    cursor: pointer;
  }
}
/*END SEARCH BAR*/

/*PROFILE QUICK SETTINGS*/
.profile-q-settings{
  .btn{
    border:medium none;
    padding:0;
    img{
      max-width: 3.6rem;
      max-height: 3.6rem;
      margin-right: 1rem;
      border-radius: 50%;
    }
  }
  &.default{
    .btn{
      position: relative;
      line-height: 3.6rem;
      &:before{
        content:"\f2bd";
        font-family: FontAwesome;
        width:3.6rem;
        height: 3.6rem;
        font-size: 3.6rem;
        line-height: 3.6rem;
        display: block;
        float: left;
        vertical-align: middle;
        margin-right: 1.4rem;
        border-radius: 50%;
        color: $pink-go;
        opacity: .3;
      }
    }
  }
}
/*END PROFILE QUICK SETTINGS*/

/*SORT BY*/
.sort-by{
  list-style:   none;
  padding:0;
  margin:0;
  li{
    display:  inline-block; 
    vertical-align:   top;
    margin-right:   2rem;
    >button{
      padding:0;
      background:0;
      border:medium none;
      color:  #8c8c8f;
      line-height:  3rem;
      font-size:  1.5rem;
      outline:  none;
      cursor:   pointer;  
      &.active{
          color:  $white-go ;
      }
    }
    span{      
      color:  #8c8c8f;
      line-height:  3rem;
      font-size:  1.5rem;
    }
    .btn-group{
      padding:0;
      .dropdown-menu{
        li{
          display:  block;  
          margin:0;
        }
      }
      .btn{
        padding:0;
        border:medium none;
        line-height:  3rem;
        font-size:  1.5rem;
        color:  #8c8c8f;
      }
    }
  }
}
/*END SORT BY*/

/*EVENT LIST*/
.event-list{
  list-style: none;
  padding:0;
  margin:0;
  li{
    overflow: hidden;
    background: $gray-go;
    margin-bottom: 2rem;
    cursor: pointer;
    >*{
      padding:0;
      float: left;
    }
  }
  img{
    max-height: 100%;
    max-width: 100%;
  }
  p{
    color: #8e8f92;
    line-height: 1.9rem;
    max-height: 5.5rem;
    overflow: hidden;
    span,
    i{
      opacity: 1;
      color: $white-go;
      margin-right: 1rem;
    }
    span{
      margin-left: 1rem;  
    }
  }
  .event-desc{
    padding:2rem 2rem 1rem 2rem;
    h2{
      margin-bottom: 2rem;
    }
  }
}
.event-hours{
  color: #8e8f92;
  line-height: 1.9rem;
  max-height: 5.5rem;
  overflow: hidden;
  span,
  i{
    opacity: 1;
    color: $white-go;
    margin-right: 1rem;
  }
  span{
    margin-left: 1rem;  
  }
}
.event-where{
  color: $pink-go;
  margin-bottom: 1rem;
  display: block;
  i{
    margin-right: 1rem;
  }
}
.event-location{
  color: $blue-go;
  i{
    margin-right: 1rem;
  }
}
/*END EVENT LIST*/

/*TRACK LIST*/
.track-list{
  list-style: none;
  padding:0;
  margin:0;
  li{
    padding:0;
    margin-bottom: 1.4rem;
    vertical-align: middle;
    overflow: hidden;
    .title{
      color: $white-go;
      display:block;
      margin-bottom: .5rem;
      margin-top:1rem;
      vertical-align: middle;      
      @include ellipsis;
    }
    .album-name{
      display:block;
      opacity: .5;
      vertical-align: middle;
      @include ellipsis;
    }
    img{
      float: left;
      max-width: 7rem;
      max-height: 7rem;
      border-radius: .8rem;
      margin-right: 1.4rem;
    }
  }
}
/*END TRACK LIST*/

/*EVENTS ELEMENTS*/
.musician-events{
  li{
    margin-bottom: 1rem;
    background: $gray-go;
    padding:1.4rem;
    >*{
      display: block;
      margin-bottom: .5rem;
      @include ellipsis;
    }
    p{
      margin:0;
      opacity: .5;
      span{
        margin-left: 2rem;
      }
    }
  }
}

.event-slots{
  li{    
    padding: 1.4rem 1rem;
    background: $gray-go;
    overflow: hidden;
    margin-bottom: 1rem;
  }
  .btn-default.gradient.black:after{
    background:$gray-go;
  }
  .btn-default.gradient.black {
    float: right;
    padding:0 2rem;
    margin-top:0.5rem;
  }
  p{
    float: left; 
    max-width: 68%;
    display: block;
    margin:0;
    clear: left;
  }
  .hours{
    overflow: hidden;
    color: #a8a9ab;
    margin-bottom: .5rem;
    span{
      margin-right: 1.5rem;
      color: $white-go;
    }
    i{
      margin-right: 1.5rem;
    }
  }
  .price{    
    color: #a8a9ab;
    span{
      margin-left: 1.5rem;
      color: $white-go;
    }
  }
}
/*END EVENTS ELEMENTS*/

/*HOMEPAGE*/
section{
  display: block;
  width:100%;
}
.home-header-baner{
  background: url(assets/home-bg1.jpg) top center no-repeat, #14141f;
  background-size: 100% auto;
  position: relative;
  .home-white-bg{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 8rem;
    background:$white-go;
  }
}
section.top{
  overflow: hidden;
  margin-top:2rem;
  .logo{
    margin-right: 3rem;
    display: inline-block;
  }
  .navbar{
    padding:0;
    margin:0;
    background: none transparent;
    min-height: auto;
    min-height: 3rem;
    line-height: 4rem;
    .navbar-toggler{
      color: $white-go;
      font-size: 3rem;
      &:focus{
        outline:none;
      }
    }
    .collapse,
    .collapsing{
      border:medium none;
      >*{
        float: right;
        &:first-child{
          float:left;
        }
      }
      li{
        margin:0 1rem;
        a{
          color: $white-go;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }
}
.home-banner{
  text-align: center;
  min-height: 100rem;
  .specialh1{
    font-size: 9rem;
    text-align: center;
    margin:6rem 0 4rem 0;
  }
  p{
    text-align: center;
    margin-bottom: 4rem;
  }
  .apple-download{
    height: auto;
    line-height: 2rem;
    padding-top:.5rem;
    padding-bottom: .5rem;
    text-align: left;
    padding-right: 58px;
    i{
      float: left;
      display: block;
      height: 100%;
      font-size: 3rem;
      line-height:4.5rem;
      margin-right: 1.8rem;
    }
    span{
      clear: right;
      display: block;
      font-size: 2.2rem;
      margin-left: 2rem;
    }
  }
}
.btn-default.large.apple-download{
  height: auto;
  line-height: 2.6rem;
  padding-top:.5rem;
  padding-bottom: .5rem;
  text-align: left;
  padding-right: 58px;
  i{
    float: left;
    display: block;
    height: 100%;
    font-size: 3rem;
    line-height:5rem;
    margin-right: 1.8rem;
  }
  span{
    clear: right;
    display: block;
    font-size: 2.2rem;
    margin-left: 2rem;
    line-height: 1.2rem;
  }
}
.home-features{
  background: $white-go;
  position: relative;
  padding-top:15rem;
  color: #000000;
  .feature_image{
    max-width: 100%;
    position: absolute;
    z-index: 10;
    top:-70rem;   
    margin:0 auto;
  }
  h1{
    display:  block;  
    width:  100%;
    text-align: center;
    font-size:   5rem;
    font-weight:  500;
    margin-bottom: 8rem;
  }
  .feature-col{
    min-height: 40rem;
    padding: 0;
    ul{
      list-style: disc;
      text-align: center;
      margin:0 3rem;
      padding:0 3rem;
      h2{
        font-size: 3.5rem;
      }
      li{
        text-align: left;
        padding:1rem 0;
      }
    }
    &.shaddow{
      position: relative;
      padding:0;
      .home-sign-holder{
        background: $white-go;
        padding:0;
        text-align: center;
        position: absolute;
        padding:0 0 3rem 0;
        top:100%;
        z-index: 11;
        width: 100%;
      }
      &:after{
        box-shadow: -10px 0 10px -13px inset;
        content: "";
        height: 100%;
        width: 15px;
        top:0;
        left: -15px;
        position: absolute;
      }
      &:before{
        box-shadow: 10px 0 10px -13px inset;
        content: " ";
        height: 100%;
        width: 15px;
        top:0;
        position: absolute;
        right: -15px;
        width: 15px;
      }
    }
  }
}
.home-events{
  position: relative;
  h1{
    position: absolute;
    top:14rem;
    text-align: center;
    left: 0;
    width: 100%;
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 8rem;
  }
  img{
    max-width: 100%;
  }
}
.home-long-description{
  background:$white-go;
  color: #000000;
  h2{
    font-size: 5rem;
    font-weight: 600;
    margin:8rem 0 4rem 0;
  }
  .type1{
    padding:0 10rem;
    p{
      line-height: 2.4rem;      
    }
    a{
      clear: both;
      text-transform: uppercase;
      display: inline-block;
      margin-top:4rem;
      font-weight: 600;
      color: $blue-go;
    }
  }
  img{
    margin-top:-7rem;
    max-width: 60%;
    margin-left: 5rem;
  }
  .type2{
    padding:0;
    img{
      width: 100%;
      max-width: 100%;
      margin:0;
      margin-bottom: -18rem;
    }
  }
  .type3{
    padding:0 20rem 0 10rem;
    p{
      line-height: 2.4rem;     
    }
   a{
      clear: both;
      text-transform: uppercase;
      display: inline-block;
      margin-top:4rem;
      font-weight: 600;
      color: $blue-go;
    }
  }
}
.home-descrition-promoter{
  background: url(assets/home-bg3.jpg) top center no-repeat, #161422;
  background-size: 100% auto;
  padding-top:18rem;
  img{
    max-width: 60%;
    margin-bottom: -10.8rem;
  }
  h2{
    font-size: 5rem;
    font-weight: 600;
    margin:4rem 0 4rem 0;
  }
  p{
    line-height: 2.4rem;     
  }
 a{
    clear: both;
    text-transform: uppercase;
    display: inline-block;
    margin-top:4rem;
    font-weight: 600;
    color: $blue-go;
  }
}
.home-download{
  background: $white-go;
  padding-top:6rem;
  vertical-align: middle;
  border-bottom: solid 1px #e7e7e8;
  .holder{
    text-align: center;
    padding:3rem 0 5rem 0;
    vertical-align: middle;
    p{
      color: #000000;
      font-size: 3rem;
      font-weight: 600;
      line-height: 5rem;
      margin: 0;
      margin-right: 3rem;
    }
  }
  p,
  button{
    display: inline-block;
    vertical-align: middle;
  }
}
.home-footer{
  background: $white-go;
  padding:2rem 0;
  .copyright{
    color: #000000;
    margin:0;
    text-align: right;
    p{
      line-height: 4rem;
      text-transform: uppercase;
      opacity: .5;
      margin:0;
    }
  }
  .navbar{
    padding:0;
    margin:0;
    border:medium none;
    min-height: 3rem;
    .navbar-nav{
      li{
        margin:0 1rem;
        a{
          text-transform: uppercase;
          color: #000000;
          padding:0;
          line-height: 4rem;
          font-weight: 600;
        }
      }
    }
  }
}
/*END HOMEPAGE*/

/*LOGIN PAGE*/
.login-page,
.register-page{
  background: url(assets/login_bg.jpg) top center no-repeat, #161422;
  background-size:  100% 100%;
  position:   absolute; 
  top:0;
  left: 0;
  width:  100%;
  height:   100%;
  .form-holder{
    margin-top:20rem;
    text-align: center;
    >img{
      max-width: 70%;
      margin-bottom: 6rem;
    }
    .btn{
      width: 100%;
    }
    fieldset{
      text-align: left;
      position: relative;
      margin-bottom: 3rem;
      label{
        position: absolute;
        top:0;
        left: 0;
        font-size: 2rem;
        line-height: 3rem;
        cursor: pointer;
      }
      input{
        line-height: 3rem;
        font-size: 1.4rem;
        padding:0 3rem;
      }
      .hint-but{
        position: absolute;
        top:0;
        right:0;
        background: none transparent;
        border:medium none;
        font-variant-position: 2rem;
        line-height: 3rem;
        &:focus{
          outline:none;
        }
      }
    }
  }
  >div{
    overflow: hidden;
    .forgot-pass{
      float: left;
      opacity: .5;
    }
    .sign-up-link{
      float: right;
    }
    a{
      color: $white-go;      
    }
  }

}
/*END LOGIN PAGE*/

/*REGISTER PAGE*/
.register-page{
  .form-holder{
    margin-top: 14rem;
    fieldset input{
      padding-left: 0;
    }
    >img{
    margin-bottom: 4rem;
    }
  }
}
/*END REGISTER PAGE*/

/*APP MENU*/
.portal-home{
background: url(assets/app-top-bg.png)top left no-repeat, url(assets/app-bottom-bg.png) bottom left no-repeat, linear-gradient(to bottom, #241330 0%,#13131f 100%);
position: relative;
min-height: 100vh;
}
.left-navigation-pane{
  padding-top:2rem;
  >img{
    clear: both;
    display: block;
    max-width: 12rem;
    margin-bottom: 3rem;
  }
  .navbar{
    min-height: 3rem;
    margin:0;
    padding:0;
    .navbar-collapse{
      padding:0;
      ul{
        display: block;
        width: 100%;
        li{
          display: block;
          width: 100%;
          a{
            padding:0;
            color: $white-go;
            &:hover{
              text-decoration:none;
            }
          }
          &.active a{
            color: $pink-go;
          }
        }
        &.type1{
          border-bottom: solid 1px #312b3c;
          li:last-child{
            margin-bottom:2rem;
          }
          a{
            line-height: 4.8rem;
            font-size: 1.8rem;
            i{
              margin-right: 1.6rem;
            }
          }
        }
        &.type2{
          margin-top:3rem;
          a{
            opacity:.5;
            line-height: 3rem;
          }
        }
      }
    }
  }
}
/*END APP MENU*/

/*APP PAGE HEAD*/
.page-head{
  .page-title{
    display: inline-block;
    margin:0;
    padding-top:2.4rem;
    margin-bottom: 3.2rem;
  }
  .pull-right{
    >div{
      float: left;
    }
  }
  .search-and-profile{
    padding-top:2rem;
    .search-bar{
      margin-right: 3rem;
      margin-top:.2rem;
    }
  }
}
/*END APP PAGE HEAD*/


/*APP PAGE INNER*/
.page-inner{
  .sort-by{
    margin-bottom: 2rem;
  }
}


/*END APP PAGE INNER*/

/*APP PAGINATION*/
.page-pagination{
  text-align: center;
}
/*END APP PAGINATION*/


/*EVENT DETAILS PAGE*/
.event-details{
  .left{
    padding-left: 0;
  }
  .right{
    padding-right: 0;
  }
  .event-detail-img img{
    max-width: 100%;
    width: 100%;
    margin-bottom: 1rem;
  }
}
.event-detail-time-date{
  margin-top:5rem;
  margin-bottom: 2rem;
}
.event-detail-description{
  opacity: .5;
}
.event-detail-title{
  font-size: 4.5rem;
  font-weight: 600;
  span{
    display: block;
    width: 100%;
    clear: both;
    font-size: 3rem;
    line-height: 7rem;
  }
}
/*END EVENT DETAILS PAGE*/








@media (max-width: 768px) {
.btn,.btn-group {
	width:100%;
  }
  .logo-wrap{
    text-align: center;
  }
  .navbar{
    border:medium none;
    .collapse{
      border:medium none;
      box-shadow: none;
      margin-top:3.6rem;
    }   
  }  
  .top .navbar .collapse ul {
    float: left;
    width: 100%;
    margin:0;
    text-align:right;
  }
  .collapsing {
    margin-top:3.6rem;
    box-shadow: none;
    ul{        
      float: left;
      width: 100%;
      margin:0;
      text-align:right;
    }
  }
  section.top .navbar .collapse{
    border:medium none;
  }
  .home-banner{
    .specialh1{
      font-size: 6rem;
    }
  }
  .apple-download{
    width: auto;
  }
  .home-banner{
    min-height: 60rem;
  }
  .home-features{
    padding-top:14rem;
    .feature_image{
      top:-36rem;
    }
    .home-sign-holder{
      position: static;
      bottom:0;
     .btn-default{
        width: auto;
      }
    }
  }
  .home-features .feature-col.shaddow .home-sign-holder {
    position: static;
  }
  .home-events h1{
    top:-1rem;
  }
  .home-long-description img{
    margin-top:2rem;
  }
  .home-long-description .type3{
    padding:7rem 1rem 5rem 1rem;
  }
  .home-descrition-promoter{
    padding-top:0;
    img{
      margin-bottom: 0
    }
  }
  .home-footer{
    .navbar-toggler{
      color: #000000;
      font-size: 3rem;
    }
    .navbar .navbar-nav li {
      text-align: right;
    }
  }
  .login-page .form-holder > img{
    max-width: 80%;
  }
  .login-page .form-holder{
    margin-top:12rem;
  }
  .left-navigation-pane .navbar .navbar-collapse ul li{
    text-align:right;
  }
  .event-slots .btn-default.gradient.black{
    display: inline-block;
    width: auto;
  }
  .left-navigation-pane{
    padding-top:0;
    >*{
      display: inline-block;
      margin:0;
      clear: none;
    }
    .navbar{
      float: right;
    }
    >img{
      display: inline-block;
    }
  }
  .page-head{
    .search-and-profile{
      float: none !important;
      text-align: center;
      >*{
        float: none !important;
        display: inline-block;
      }
    }
  }
  .page-head .page-title{
    width: 100%;
    text-align: center;
    margin:0;
    padding-top:0;
  }
  .navbar-toggler{
    font-size: 2rem;
    &:focus{
      outline:none;
    }
  }
  .event-list img{
    width: 100%;
    max-width: 100%;
  }
}