<section class="register-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-xs-12 center-block form-holder">		
				<img src="assets/logo-big-white.png">
				<tabset class="type2">
					<tab heading="I am musicians">
						<form class="login-form">
							<fieldset>
								<input type="text" name="" id="username" placeholder="Musician First Name">
							</fieldset>
							<fieldset>
								<input type="text" name="" id="username" placeholder="Musician Last Name">
							</fieldset>
							<fieldset>
								<input type="email" name="" id="username" placeholder="Musician Email Address">
							</fieldset>
							<fieldset>
								<input type="password" name="" id="password" placeholder="Password">
								<button class="hint-but"><i class="fa fa-eye" aria-hidden="true"></i></button>
							</fieldset>
							<fieldset>
								<button routerLink="../login"  type="button" class="btn btn-default gradient large">SIGN UP</button>	
							</fieldset>
						</form>
						<div>
							<a href="" class="forgot-pass">Already have an account?</a>
							<a routerLink="../login" class="sign-up-link">Sign In</a>
						</div>
					</tab>
					<tab heading="I am not musicians">
						<form class="login-form">
							<fieldset>
								<input type="text" name="" id="username" placeholder="First Name">
							</fieldset>
							<fieldset>
								<input type="text" name="" id="username" placeholder="Last Name">
							</fieldset>
							<fieldset>
								<input type="email" name="" id="username" placeholder="Email Address">
							</fieldset>
							<fieldset>
								<input type="password" name="" id="password" placeholder="Password">
								<button class="hint-but"><i class="fa fa-eye" aria-hidden="true"></i></button>
							</fieldset>
							<fieldset>
								<button routerLink="../login"  type="button" class="btn btn-default gradient large">SIGN UP</button>	
							</fieldset>
						</form>
						<div>
							<a href="" class="forgot-pass">Already have an account?</a>
							<a routerLink="../login" class="sign-up-link">Sign In</a>
						</div>
					</tab>
				</tabset>				
			</div>
		</div>
	</div>	
</section>
